//
.container {
    margin-top: 20% !important; 
}

.locale {
    height: 50px;
    margin-left: 20px;
}

.cover-locale {
    justify-content: flex-end;
}

.dd {
    width: 100%;
}

.containActionUpdateDelete {
    float: right;
}

.dd-handle {
    height: 60px !important; 
}
